source ~/.vimrc

unmap /

set norelativenumber
set number

inoremap jk <ESC>
inoremap kj <ESC>
vnoremap jk <ESC>
vnoremap kj <ESC>
vnoremap <backspace> d
inoremap wq <ESC>:wq<CR>
inoremap qw <ESC>:wq<CR>
nnoremap s i_<ESC>r
inoremap kl <ESC>:w<CR>
inoremap lk <ESC>:w<CR>

nnoremap \\ :action VimPreviousFile<CR>

set ttimeoutlen=50
set timeoutlen=100

"Emulates vim-surround
set surround
" Enable smarter line joining
set ideajoin

"Use system clipboard like civilized folk
set clipboard+=unnamed

