source ~/.vimrc

set norelativenumber
set number

inoremap jk <ESC>
inoremap kj <ESC>
vnoremap jk <ESC>
vnoremap kj <ESC>
vnoremap <backspace> d
inoremap wq <ESC>:wq<CR>
inoremap qw <ESC>:wq<CR>
nnoremap s i_<ESC>r

set ttimeoutlen=50
set timeoutlen=100

"Emulates vim-surround
set surround
